{{#each .}}

<div class="film-card cast-list">
  <div class="poster-cast {{posterClass}}">
    <img src="{{profile_path}}" alt="Person">
  </div>
  <div class="film-card-title">
    <h4 class="name-actor"><b>{{name}}</b></h4>
    <h4 class="character">{{character}}</h4>
  </div>
</div>
{{/each}}