{{#each .}}
<a href="/film.html?id={{id}}">
  <div class="popular-film">
    <img src="https://image.tmdb.org/t/p/original/{{poster_path}}" alt="">
    <div class="popular-film-title">{{title}}</div>
  </div>
</a>
{{/each}}