@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap&family=Montserrat:wght@500&display=swap&family=Shippori+Antique&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.film-title {
    padding: 0;
    padding-top: 50px;
    display: flex;
}

.film-title img {
    margin-right: 100px;
}