@import url("./main.css");

.film-title {
    padding: 0;
    padding-top: 110px;
    padding-bottom: 50px;
    display: flex;
    color: #fff;
}

.film-title img {
    margin-right: 100px;
    border-radius: 20px;
    -webkit-box-shadow: 9px 10px 12px 3px #595959;
    box-shadow: 9px 10px 12px 3px #595959;
}

.film-title h2 {
  font-size: 40px;
  padding-bottom: 20px;
  font-weight: 900;
}

.film-title h3 {
  font-size: 25px;
  padding-bottom: 20px;
}

.film-title h4 {
  font-size: 19px;
}

.film-title h4>a {
  color: #d3d621;
}

.film-title p {
  font-size: 18px;
  padding-bottom: 20px;
}

.tagline {
  font-weight: normal;
  color: #23cbfa;
}