@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap&family=Montserrat:wght@500&display=swap&family=Shippori+Antique&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
	scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

											/* NAVBAR */

nav {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: white;
  border-bottom: 1px solid #ffffff37;
}

.interface-obj-dark {
  background: rgb(12, 0, 52);
}

.interface-obj-light {
  background: #00067e;
}

nav a {
	color: #fff;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

.nav-logo {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  margin-right: auto;
}

.nav-logo a {
  color: #fff;
}

.nav-item {
  flex-shrink: 0;
  flex-grow: 0;
  font-weight: bold;
  padding: 1.5rem 1.8rem;
  position: relative;
  cursor: pointer;
}

.nav-item:after {
  position: absolute;
  content: "";
  width: 0%;
  height: 5px;
  background: #23cbfa;
  border-radius: 4px;
  bottom: 1em;
  left: 1.6em;
  transition: 0.3s;
}

.nav-item:hover::after {
  width: 60%;
}

.nav-btn button {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: #23cbfa;
  color: #063ab3;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s;
}

.nav-btn button:hover {
  background: rgba(35, 201, 247, 0.564);
}

									/* TOOLBAR */
.light-theme {
	background: #fafafa;
	color: #000 !important;
}

.dark-theme {
	background: rgb(15, 14, 22);
	color: #ffffff !important;
}

.theme-switch {
  display: flex;
  align-items: center;
}

.theme-switch__icon {
  color: currentColor;
  height: 24px;
  width: 24px;
  margin-right: 8px;
  margin-left: 8px;
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 64px;
  height: 32px;
  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: rgb(22, 21, 27);
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: #fff;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(3px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.theme-switch__toggle:checked+.theme-switch__track {
  background-color: #d3d3d4;
}

.theme-switch__toggle:checked~.theme-switch__marker {
  transform: translateX(35px);
}


										/* MAIN */


									/* SEARCH SECTION */


section:nth-child(1) {
  margin-top: 66.4px;
  min-height: 350px;
}

.search-section-cont {
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 50px;
}

.search-title h2 {
  font-size: 60px;
  margin-bottom: 50px;
}

.search-title p {
  margin-bottom: 40px;
  font-size: 30px;
}

.search label input {
  padding-left: 10px;
  width: 80%;
  height: 40px;
  border-radius: 50px;
  border: none;
  margin: 0;
  outline: none;
}

.search input[type=submit] {
  height: 40px;
  border-radius: 50px;
}

.search-results {
  z-index: 1;
  position: absolute;
  background: #fafafa;
  list-style: none;
  width: 80%;
  border-left: solid 1px grey;
  border-right: solid 1px grey;
  color: black;
}

.search-results li {
  border-bottom: solid 1px grey;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
}

.search-results a {
  color: #000;
}

/* NEW RELEASES */

.popular-section {
  min-height: 100vh;
  margin-bottom: 30px;
}

.popular-cont {
  padding-top: 80px;
}

.film-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.popular-film {
  display: flex;
  flex-direction: column;
  width: 150px;
  position: relative;
  height: 220px;
  margin: 20px 20px 60px;
  font-family: "Shippori Antique";
}

.popular-film img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 10px;
}

.popular-film-rating {
  position: absolute;
  color: white;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-bottom-right-radius: 18px;
  border-top-left-radius: 18px;
  background: rgb(208, 146, 12);
}

.popular-film-title {
  text-align: center;
  color: #000;
}

footer {
  text-align: center;
  color: #fff;
  padding: 35px 0;
}

footer .container {
  display: flex;
  text-align: center;
  justify-content: space-around;
}