@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap&family=Montserrat:wght@500&display=swap");
 *, *::before, *::after {
	 box-sizing: border-box;
	 margin: 0;
	 padding: 0;
}
 body {
	 font-family: "Poppins", sans-serif;
	 background: #fafafa;
}
 .container {
	 position: relative;
	 max-width: 1000px;
	 margin: 0 auto;
}

										/* NAVBAR */

 nav {
	 position: fixed;
	 z-index: 1;
	 top: 0;
	 width: 100%;
	 font-family: "Poppins", sans-serif;
	 background: #00067e;
   	 color: white;
}
 .nav-list {
	 display: flex;
	 justify-content: flex-end;
	 align-items: center;
     list-style: none;
	 gap: 2rem;
}
 .nav-logo {
	 font-size: 2.5rem;
   	 font-family: 'Montserrat', sans-serif;
	 margin-right: auto;
}
 
 .nav-item {
	 flex-shrink: 0;
	 flex-grow: 0;
	 font-weight: bold;
	 padding: 1.5rem 1.8rem;
	 position: relative;
	 cursor: pointer;
}
 .nav-item:after {
	 position: absolute;
	 content: "";
	 width: 0%;
	 height: 5px;
	 background: #23cbfa;
	 border-radius: 4px;
	 bottom: 1em;
	 left: 1.6em;
	 transition: 0.3s;
}
 .nav-item:hover::after {
	 width: 60%;
}

 .nav-btn button {
	 border: none;
	 padding: 0.5rem 1rem;
	 border-radius: 0.5rem;
	 background: #23cbfa;
	 color: #063ab3;
	 font-family: inherit;
	 font-size: inherit;
	 font-weight: bold;
	 cursor: pointer;
	 transition: 0.1s;
}
 .nav-btn button:hover {
	 background: rgba(35, 201, 247, 0.564);
}


										/* MAIN */


										/* SEARCH SECTION */
										

.search-section{
	margin-top: 66.4px;
	background-color: #0f499b;
	min-height: 350px;
}

.search-section-cont{
	color: white;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-top: 50px;
}

.search-title h2{
	font-size: 60px;
	margin-bottom: 50px;
}

.search-title p {
	margin-bottom: 40px;
	font-size: 30px;
}

.search label input{
	padding-left: 10px;
	width: 80%;
	height: 40px;
	border-radius: 50px;
	border: none;
	margin: 0;
}

.search input[type=submit] {
	height: 40px;
	border-radius: 50px;
}

										/* NEW RELEASES */

.new-releases-section{
	min-height: 100vh;
}

.new-releases-cont{
	padding-top: 80px;
	
}

.new-release {
	width: 100px;
	height: 100px;
	background: #000;
}



  